.investor-detail {
  font-size: 16px;
  line-height: 20px;
  .material-icons {
    vertical-align: middle;
    margin-right: 8px;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
}
.personal-info {
  flex-wrap: wrap;
  padding-left: 16px;
}
.tontine-statistics {
  padding-left: 16px;
}
.bank-account {
  padding-left: 16px;
}
