<h3>Add an investor</h3>
<form [formGroup]="investor" *ngIf="tontine">
  <div class="row">
    <mat-form-field>
      <mat-label>Danh xưng</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="female">Chị</mat-option>
        <mat-option value="male">Anh</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Tên đầy đủ">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="yearOfBirth" placeholder="Sinh năm">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput formControlName="phoneNumber" placeholder="Số điện thoại">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="fb" placeholder="Link facebook">
    </mat-form-field>
  </div>
  <mat-form-field>
    <input matInput formControlName="address" placeholder="Địa chỉ">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="joinDate" [matDatepicker]="picker" placeholder="Định ngày tham gia hụi">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="investor.get('joinDate').value"></mat-datepicker>
  </mat-form-field>
  <div formArrayName="nextTurns" *ngFor="let turn of nextTurns.controls; let i = index;">
    <div class="turn-control">
      <mat-slider [formControlName]="i"
        min="0"
        [max]="maxTurnAllowed"
        [value]="turn.value"
        step="1"
        thumbLabel
        [displayWith]="formatLabel"
        ></mat-slider>
      <button mat-icon-button color="warning" (click)="removeTurn(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <button mat-icon-button color="primary" (click)="addNewTurn()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="row">
    <mat-form-field>
      <input matInput formControlName="bank" placeholder="Chi nhánh ngân hàng">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="bankAccount" placeholder="Số tài khoản ngân hàng">
    </mat-form-field>
  </div>
  <mat-checkbox color="primary" formControlName="investToCurrentRound">Đầu tư vào vòng hiện tại luôn</mat-checkbox>
  <div class="action-buttons">
    <button mat-raised-button color="primary" (click)="addNewInvestor()" [disabled]="investor.invalid">Add</button>
    <button mat-raised-button color="accent" >Go back</button>
  </div>
</form>
