/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
html, body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: grey;
}

.application-body {
  display: block;
  // width: 980px;
  height: 100%;
  margin: 0 auto;
  background: honeydew;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
